.messages-divider {
    width: 635px;
    height: 1px;
    display: block;
    background: black;
    margin-top: 15px;
    position: relative;
    border: 1px solid black;
}
.messages-divider span {
    position: absolute;
    top: -3px;
    right: 5px;
}
