.header {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: 70px;
    border: 1px solid #333;
    border-radius: 5px;
}
