.logo {
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-img {
    height: 100%;
}
.logo-text {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
}
