.message {
    border: 1px solid #444;
    padding: 7px;
    padding-bottom: 25px;
    margin: 20px 35px;
    max-width: 300px;
    border-radius: 10px;
    position: relative;
}
.message-user-avatar {
    width: 50px;
    position: absolute;
    top: 30px;
    left: 10px;
}
.message-text {
    padding-left: 60px;
    margin-top: 20px;
    width: 210px;
    word-wrap: break-word;
}

.message-like {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
}
.message-liked {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 18px;
}
.message-user-name {
    position: absolute;
    top: -10px;
    left: 10px;
}

.message-time {
    bottom: -15px;
    right: 5px;
    position: absolute;
}
