.message-input {
    width: 635px;
    margin: 0 auto;
    display: flex;
}

.message-input .message-input-text {
    width: 425px;
    height: 150px;
}
.message-input .message-input-button {
    width: 192px;
    height: 153px;
    margin: 0;
}
